<div class="bckg">
  <div class="index-description">
    <h1>Choose the Service you want to <strong>LOCK ME!</strong></h1>
  </div>

  <div class="mygrid">
    <% @services.each do |service| %>
    <%= link_to service_path(service) do%>
      <div class="card-trip mb-4">
        <%= image_tag "#{service.photo}" %>
        <div class="card-trip-infos">
          <div>
            <h2><%= service.name %></h2>
            <p><%= service.tagligne %></p>
          </div>
          <h2 class="card-trip-pricing"><%= service.price %></h2>
        </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>