
<h1><%= @service.name.upcase %></h1>
<div class="d-flex flex-row space-between ">

  <div class="d-flex p-3" >
  <%= image_tag "#{@service.photo}" %>
    <%# <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" class="rounded float-left"  height="450px" alt="...">
  </div>

  <div class="flex-column row justify-content-center ">
    <%= link_to "LOCK ME!", "#", data: { confirm: "WELCOME TO THE PARADISE" }, class: "btn btn-danger mb-4"%>
    <h5>price: <strong><%= @service.price %>€<strong></h5>
    <p><%= @service.description %></p>
  </div>

</div>