
<h1 class="text-center"><%= @service.name.upcase %></h1>
<div class="d-flex flex-row space-between justify-content-center ">

  <div class="d-flex p-3">
   <%= image_tag "#{@service.photo}", size:"450x450", class: "picsdetails" %>
  </div>

  <div class="flex-column row justify-content-center align-items-center">
    <%= link_to "LOCK ME!", new_service_booking_path(@service), class: "btn btn-danger mb-4 button-size"%>
    <h5>price: <strong><%= @service.price %>€<strong></h5>
    <p><%= @service.description %></p>
  </div>

</div>
